*{
  box-sizing: border-box;
}

body{
  background-color: #F1F1F1;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: 'Roboto';
}

header nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
header nav ul li a{
  color: black;
  text-decoration: none;
}


