*{
  box-sizing: border-box;
}

.top-bar .line{
  background-color: burlywood;
}
.top-bar .line p{
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
}

.naw-bar ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}
.naw-bar ul li a{
  text-decoration: none;
  color: black;
}

.sektion-1{
  margin: 55px;
  width: 40%;
}
.p-1{
  display: flex;
  justify-content: right;
  
}

.img-5{
  margin: 70px;
}